body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.signupcontainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.myform {
    border: 2px solid black;
    padding: 20px;
    background-color: azure;
}

.lgnbttn {
    border-radius: 2px;
    background-color:cornflowerblue;
}