body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

form {
  margin-left: 5px;
}

/* Create a top navigation bar with a black background color  */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.midnav {
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #6b6b6b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a.trek {
  font-size: 30px;
  color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  padding: 6px;
  border-radius: 40px 40px 40px 40px;
  margin-top: 8px;
  font-size: 17px;
}

.topnav button {
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #444444;
  color: white;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #6b6b6b;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropbtn:hover {
  background-color: #ddd;
  color: black;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.hero {
  background: url('/images/mountains.jpg') no-repeat center center/cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4); /* dark overlay for readability */
}

.hero-text {
  position: relative;
  z-index: 1;
}

.cta-btn {
  padding: 10px 20px;
  background: #168a9e;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.cta-btn:hover {
  background-color: #444444;
}