<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/catalog.css}">
        <title>TrekAri</title>
    </head>
    <body>
        <div class="topnav">
            <a th:href="@{/}" class="trek"><b>TrekAri</b></a>
            <div class="midnav">
                <div class="dropdown">
                <a href="/catalog" class="dropbtn">Catalog<i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="/catalog#small">Small (carry-ons & add-ons)</a>
                        <a href="/catalog#medium">Medium (core gear)</a>
                        <a href="/catalog#large">Large (base setup)</a>
                    </div>
                </div>    
                <a th:href="@{/contact}">Contact</a>
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
            </div>
            <a th:href="@{/login}" class="split" sec:authorize="isAnonymous()">
                Login
            </a>
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button type="submit" class="split">Logout</button>
            </form>

            <button id="cartBtn" class="cart-btn">
                <i class="fa fa-shopping-cart"></i>
            </button>

        </div>
        <hr id="small">
        <h3 class="cardtitles">Small (carry-ons & add-ons → “Essentials / Accessories”)</h3>
        <div class="cards-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/thermos.jpg" alt="Thermos jug">
                        <div class="container">
                            <h3>Thermos</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="1">
                        <h1>Thermos</h1>
                        <p>Want to keep your drink hot or cold all day?</p>
                        <p>Price: $19.99</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/knife.jpg" alt="Survial Knife">
                        <div class="container">
                            <h3>Survival Knife</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="2">
                        <h1>Survival Knife</h1>
                        <p>It can slice, chop & saw!</p>
                        <p>Price: $14.99</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/candles.jpg" alt="Citronella Candles">
                        <div class="container">
                            <h3>Citronella Candles</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="3">
                        <h1>Citronella Candle</h1>
                        <p>Burn one of these to help keep mosquitos at bay</p>
                        <p>Price: $10.00</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <hr id="medium">
        <h3 class="cardtitles">Medium (personal equipment → “Core Gear”)</h3>
        <div class="cards-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/tent.jpg" alt="Camping Tent">
                        <div class="container">
                            <h3>Medium Tent</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="4">
                        <h1>Medium Tent</h1>
                        <p>This tent can hold up to 2 people with all of your supplies</p>
                        <p>Price $29.99</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/sleeping-bag.jpg" alt="Sleeping Bag">
                        <div class="container">
                            <h3>Sleeping Bag</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="5">
                        <h1>Sleeping Bags</h1>
                        <p>Crafted with the heat and cold in mind!</p>
                        <p>Can keep you cool upwards of 80f and will keep you warm down to -20f</p>
                        <p>Price: $18.99</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/backpack.jpg" alt="Camping Backpack">
                        <div class="container">
                            <h3>Camping Pack</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="6">
                        <h1>Camping Pack</h1>
                        <p>These have lightweight aluminum metal braces to help with maximising weight</p>
                        <p>Price: $40.99</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <hr id="large">
        <h3 class="cardtitles">Large (base setup → “Expedition Equipment”)</h3>
        <div class="cards-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/camping-stove.jpg" alt="Camping Stove">
                        <div class="container">
                            <h3>Camping Stove</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="7">
                        <h1>Camping Stove</h1>
                        <p>Wake up early and make breakfast and coffee!</p>
                        <p>Price: $50.00</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/axe.jpg" alt="Chopping Axe">
                        <div class="container">
                            <h3>Axes</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="8">
                        <h1>Axes</h1>
                        <p>This axe will be the one to get you that extra fire wood, to keep the night going</p>
                        <p>Price: $15.99</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/cooler.jpg" alt="Coolers">
                        <div class="container">
                            <h3>Coolers</h3>
                            <p><i>Hover To View Product</i></p>
                        </div>
                    </div>
                    <div class="flip-card-back" data-id="9">
                        <h1>Coolers</h1>
                        <p>Need to bring multiple drinks and snacks, this should do the trick.</p>
                        <p>Price: $17.99</p>

                        <input type="number" value="1" min="1" style="width:50px;">
                        <button type="button" class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <button id="cartBtn" class="cart-btn">
            <i class="fa fa-shopping-cart"></i>
        </button>

        <div id="sideCart" class="side-cart">
            <div class="cart-header">
                <h2>Your Cart</h2>
                <button id="closeCart">&times;</button>
            </div>

            <div class="cart-items">
                <!-- cart fragment loads here -->
            </div>
        </div>

        <div id="cartOverlay" class="cart-overlay"></div>

        <footer>
            <p>Created by Koriik</p>
            <p>If you have any question use the contact page</p>
        </footer>
        <script th:src="@{/js/cart.js}" defer></script>
    </body>
</html>