<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>TrekAri</title>
    </head>
    <body>
        <div class="topnav">
            <a th:href="@{/}" class="trek">TrekAri</a>
            <div class="midnav">
                <div class="dropdown">
                <a href="/catalog" class="dropbtn">Catalog <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Small (carry-ons & add-ons)</a>
                        <a href="#">Medium (core gear)</a>
                        <a href="#">Large (base setup)</a>
                    </div>
                </div>    
                <a th:href="@{/contact}">Contact</a>
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
            </div>
            <a th:href="@{/signup}" class="split">Sign In</a>
        </div>
        <hr>
        <h3 class="cardtitles">Small (carry-ons & add-ons → “Essentials / Accessories”)</h3>
        <div class="cards-container">
            <div class="card">
                <img src="/images/thermos.jpg" alt="Thermos jug">
                <div class="container">
                    <h3>Thermos</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/knife.jpg" alt="knife">
                <div class="container">
                    <h3>Survival Knife</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/candles.jpg" alt="Product Image">
                <div class="container">
                    <h3>Candles</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="cardtitles">Medium (personal equipment → “Core Gear”)</h3>
        <div class="cards-container">
            <div class="card">
                <img src="/images/thermos.jpg" alt="Product Image">
                <div class="container">
                    <h3>Product Name</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/thermos.jpg" alt="Product Image">
                <div class="container">
                    <h3>Product Name</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/thermos.jpg" alt="Product Image">
                <div class="container">
                    <h3>Product Name</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="cardtitles">Large (base setup → “Expedition Equipment”)</h3>
        <div class="cards-container">
            <div class="card">
                <img src="/images/thermos.jpg" alt="Product Image">
                <div class="container">
                    <h3>Product Name</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/thermos.jpg" alt="Product Image">
                <div class="container">
                    <h3>Product Name</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/thermos.jpg" alt="Product Image">
                <div class="container">
                    <h3>Product Name</h3>
                    <p><i>Click To View Product</i></p>
                </div>
            </div>
        </div>
        <footer>
            <p>Created by Koriik</p>
            <p>If you have any question use the contact page</p>
        </footer>

        <h1>Check out our equipment!</h1>
        <p>Your path begins with high quality travel gear</p>
    </body>
</html>