<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>TrekAri</title>
    </head>
    <body>
        <div class="topnav">
            <a th:href="@{/}" class="trek"><b>TrekAri</b></a>
            <div class="midnav">
                <div class="dropdown">
                <a href="/catalog" class="dropbtn">Catalog <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Small (carry-ons & add-ons)</a>
                        <a href="#">Medium (core gear)</a>
                        <a href="#">Large (base setup)</a>
                    </div>
                </div>   
                <a th:href="@{/contact}">Contact</a>
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
            </div>
            <a th:href="@{/signup}" class="split">Sign In</a>
        </div>
        <hr>

        <h1>Welcome to your future equipment!</h1>
        <p>Let TrekAri guide your path to adventures.</p>
    </body>
</html>