<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/contact.css}">
        <title>TrekAri</title>
    </head>
    <body>
        <div class="topnav">
            <a th:href="@{/}" class="trek"><b>TrekAri</b></a>
            <div class="midnav">
                <div class="dropdown">
                <a href="/catalog" class="dropbtn">Catalog<i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="/catalog#small">Small (carry-ons & add-ons)</a>
                        <a href="/catalog#medium">Medium (core gear)</a>
                        <a href="/catalog#large">Large (base setup)</a>
                    </div>
                </div>   
                <a th:href="@{/contact}">Contact</a>
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
            </div>
            <a th:href="@{/login}" class="split" sec:authorize="isAnonymous()">
                Login
            </a>
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button type="submit" class="split">Logout</button>
            </form>
        </div>
        <hr>

        <form action="/contact" method="post" class="contact-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <input type="text" name="name" placeholder="Your Name" required>

            <input type="email" name="email" placeholder="Your Email" required>

            <textarea name="message" placeholder="Your Message" rows="5" required></textarea>

            <button type="submit">Send Message</button>
        </form>

        <p th:if="${success}" class="success">
            Thank you! I’ll get back to you soon.
        </p>
    </body>
</html>