<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>TrekAri</title>
    </head>
    <body>
        <div class="topnav">
            <a th:href="@{/}" class="trek"><b>TrekAri</b></a>
            <div class="midnav">
                <div class="dropdown">
                <a href="/catalog" class="dropbtn">Catalog<i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="/catalog#small">Small (carry-ons & add-ons)</a>
                        <a href="/catalog#medium">Medium (core gear)</a>
                        <a href="/catalog#large">Large (base setup)</a>
                    </div>
                </div> 
                <a th:href="@{/contact}">Contact</a>
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
            </div>
            <a th:href="@{/signup}" class="split">Login/Sign Up</a>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
        <hr>
        <div class="hero">
            <div class="hero-text">
                <h1>Start your journey here</h1>
                <h3>The best equipment awaits you</h3>
                <a th:href="@{/catalog}" class="cta-btn">Catalog</a>
            </div>
        </div>
        <h1>Just a little about us.</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <footer>
            <p>Created by Koriik</p>
            <p>If you have any question use the contact page</p>
        </footer>
    </body>
</html>