<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
    <div class="topnav">
        <a th:href="@{/}" class="trek"><b>TrekAri</b></a>
    </div>
    <div class="loginContainer">
        <div>
            <form class="myform" th:action="@{/login}" method="post">
                <h1>Login</h1>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <div>
                    <button class="lgnbttn" type="submit">Login</button>
                </div>
                <p>Don't have an account? <a th:href="@{/signup}">Sign up here</a>.</p>
            </form>
        </div>
    </div>
</body>
</html>
