<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/signup.css}">
        <title>TrekAri</title>
    </head>
    <body>
        <div class="topnav">
            <a th:href="@{/}" class="trek"><b>TrekAri</b></a>
        </div>
        <div class="signupcontainer">
            <form class="myform" th:action="@{/signup}" method="post">
                <h1>Sign Up</h1>
                <div>
                    <label for="username" placeholder="Username">Username:</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div>
                    <label for="password" placeholder="Password">Password:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <div>
                    <button class="lgnbttn" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </body>
</html>