<div th:fragment="cart">
    <ul class="cart-items">
        <li th:each="cartItem : ${cartItems}">
            <span th:text="${cartItem.price}"></span>
            <span th:text="${cartItem.equipment.name}"></span> -
            <span th:text="${cartItem.quantity}"></span>
            <button class="remove-btn" type="button" th:data-id="${cartItem.id}">Remove</button>
        </li>
    </ul>
    <div th:if="${#lists.isEmpty(cartItems)}">Cart is empty</div>
    <button id="closeCart">Close</button> <!-- Add your close button inside fragment -->
</div>
